<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API</h1>
    <p>WELCOME TO 货币大亨!</p>
  </body>
</html>
